* {
  font-family: meiryo;
}

h1 {
  text-align: center;
}

#generate {
  display: block;
  /* Make the button a block element */
  width: 150px;
  /* Give it a fixed width (or a percentage) */
  font-size: 24px;
  margin: 0 auto;
  /* Now it will center horizontally */
}

#loading {
  text-align: center;
}

div#content {
  margin: 0 auto;
  max-width: 2000px;
}

body {
  line-height: 1.5;
  margin: 20px;
}

.article {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.article h2 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
}

.article p {
  margin: 0 0 5px 0;
}

.article a {
  color: #1a0dab;
  text-decoration: none;
}

#app-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 columns of equal width */
  gap: 10px;
  /* space between divs */
}

@media (max-width: 1200px) {
  #app-content {
    grid-template-columns: 1fr;
    /* 1 column on mobile */
  }

  /* #generate {
    display: flex;
    margin: 0;
  } */
}

.thumbnail {
  width: 100%;
  /* Make the image scale */
  height: 100%;
  object-fit: contain;
  /* Preserve aspect ratio and fit inside container */
}

.thumbnail-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 0 auto 5px auto;
}